.idea
.idea/workspace.xml

/app/app-services/conf/.env
/app/app-services/conf/rsa_private.pem
/app/app-services/conf/rsa_public.pem

/app/nsq-services/conf/.env
/app/nsq-services/conf/rsa_private.pem
/app/nsq-services/conf/rsa_public.pem

/logs/appnsq.log
/logs/appsvc.log

I want to fork from me
