.idea
.idea/workspace.xml

/app/app-services/conf/.env
/app/app-services/conf/rsa_private.pem
/app/app-services/conf/rsa_public.pem

/app/conf/.env
/app/conf/rsa_private.pem
/app/conf/rsa_public.pem

/logs/appnsq.log
/logs/appsvc.log

/app/app-services/conf/app-services.yaml
/app/conf/app-services.yaml

I want to fork from me
